.am-g{
    margin: 80px 0 0;
}
@media screen and (min-width: 768px) {
    #wordsView{
        margin: 0 19%;
    }
    .things{
        font-size: 20px;
    }
    .comment{
        margin: 0 14%;
    }
}
@media screen and (max-width: 768px) {
    #wordsView{
        margin: 0 5%;
    }
    .things{
        font-size: 17px;
    }
}
.title-words-h1{
    font-size: 30px;
    font-weight: 400;
}
.am-g p{
    margin: 0 auto;
}
.title-img{
    text-align: center;
    margin-top: 5px;
    padding: 20px;
}
.title-img img{
    width: 300px;
    margin: 0 auto;
    max-width: 100%;
}
.blog-me-info-words{
    text-indent: 2em;
    font-size: 15px;
    font-family: '微软雅黑', '宋体', sans-serif;
    font-weight: 200;
}
blockquote ul li{
    font-size: 15px;
    line-height: 25px;
}
.blog-title-QRCode-word{
    text-align: center;
    padding: 20px 0;
}
.blog-life-title{
    /*text-align: center;*/
    font-size: 32px;
    font-weight: 500;
}
/*初衷*/
.blog-original-title-h1{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}
.blog-original-title img{
    width: 300px;
    margin: 0 auto;
    max-width: 100%;
}
.blog-original-words{
    text-indent: 2em;
    font-size: 15px;
    font-family: '微软雅黑', '宋体', sans-serif;
    font-weight: 200;
}

.blog-erha{
    text-align: center;
    margin: 50px auto;
}
/* aboutme 心情 */
.blog-you{
    text-align: center;
    margin: 50px auto;
}
.blog-you img{
    width: 300px;
    margin: 0 auto;
    max-width: 100%;
}
/*意见反馈*/
.blog-opinion-title{
    font-size: 30px;
    font-weight: 400;
}
.blog-opinion img{
    width: 300px;
    margin: 0 auto;
    max-width: 100%;
}
.blog-opinion-words{
    font-size: 16px;
    font-family: 微软雅黑;
    font-weight: 500;
}
/*评论的头像*/
.visitorCommentImg {
    padding-left: 7px;
}