<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:with="title = '关于我'">
    <meta charset="UTF-8">
    <title th:text="${common_title}+'-'+${title}"></title>
    <meta name="keywords" th:content="${common_keywords}">
    <meta name="description" th:content="${common_description}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/aboutmetimeline.css">
    <link href="https://lib.baomitu.com/lightgallery/1.6.12/css/lightgallery.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/comment.css">
    <link rel="stylesheet" href="css/aboutme.css">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>

</head>
<body>
<div id="app">
    <!--引入共有头部-->
    <div th:replace="common/header :: header"></div>
    <!--页面主体-->
    <div id="main">
        <div class="am-container">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-lg-12">
                    <div id="wordsView">
                        <div class="title">
                            <div class="title-words">
                                <h1 class="title-words-h1">About ME</h1>
                            </div>

                            <div class="title-img">
                                <p>
                                    <img src="img/system/loading.gif" data-src="img/photo.jpg" class="enlargePicture am-img-thumbnail am-radius">
                                </p>
                            </div>
                        </div>
                        <div class="blog-my-words"  data-am-scrollspy="{animation: 'scale-down'}">
                            <p><i class="am-icon-quote-left " style="float: left"></i></p><br>
                            <div class="blog-me-info">
                                <p class="blog-me-info-words">
                                    一名"不顾正业"的程序猿，沉迷于后端技术开发，努力学习java、Python、大数据。
                                    <br>
                                    <br>
                                    (๑′ᴗ‵๑)
                                </p>
                            </div>
                            <p><i class="am-icon-quote-right " style="float: right"></i></p><br><hr>
                        </div>
                        <div class="blog-hobby">
                            <blockquote style="padding: 10px 18px">
                                兴趣爱好
                                <ul>
                                    <li>编程：沉迷于Java开发，专注于Web后端技术，追求新技术探索；</li>
                                    <li>旅游：喜欢风景和文艺之地；</li>
                                    <li>音乐：唯一喜欢的音乐，民谣；</li>
                                    <li>电影：英雄类大片、煽情类爱情片、校园类青春片，哈哈，都喜欢；</li>
                                    <li>看书：；</li>

                                </ul>
                            </blockquote>
                            <span style="font-size: 14px;color: #555;">我就是这样的我，不求伟大，却又不甘于平凡，</span>
                        </div>
                        <div class="blog-title-QRCode" style="margin-top: 20px">
                            <p><i class="am-icon-quote-left " style="float: left"></i></p><br>
                            <div class="blog-title-QRCode-word">
                                <strong>欢迎关注我的微信号：wangchuanli001</strong><br>
                                <img class="enlargePicture" src="img/system/loading.gif" data-src="img/weixin_code.png"><br>
                                <span> <br></span>
                            </div>
                            <p><i class="am-icon-quote-right " style="float: right"></i></p>
                        </div>
                        <br><br><hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />

                        <div style="text-align: right;margin: 30px auto">
                            <i class="am-icon-paper-plane am-icon-spin"></i>
                            <i class="am-icon-paper-plane-o am-icon-spin" style="margin-left: 60px"></i><br>
                        </div>

                        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />

                        <br><br><hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
                        <div class="blog-life">
                            <div style="text-align: right;margin: 30px auto">
                                <i class="am-icon-arrows am-icon-spin"></i>
                                <i class="am-icon-arrows am-icon-spin" style="margin-left: 60px"></i><br>
                            </div>
                            <div class="blog-life-title">
                                <span>经历</span>
                            </div>
                            <div class="blog-you">
                                <img src="img/system/loading.gif" data-src="img/you.png" class="enlargePicture am-img-thumbnail">
                            </div>
                            <p></p>
                            <div class="content">
                                <article>
                                    <!--年份使用淡出动画，内容使用左侧滑入效果-->
                                    <h3  data-am-scrollspy="{animation: 'scale-up'}">2019</h3>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-purple"></span>
                                        <time datetime="2019-04">
                                            <span>2019/04/07</span>
                                        </time>
                                        <aside>
                                            <p class="things">不知道该说什么</p>
                                            <p class="brief"><span class="text-yello">
                                               很多事情，真的是身不由己。
                                            </span></p>
                                        </aside>
                                    </section>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-purple"></span>
                                        <time datetime="2019-03">
                                            <span>2019/03/22</span>
                                        </time>
                                        <aside>
                                            <p class="things">恐怖</p>
                                            <p class="brief"><span class="text-blue">
                                                。
                                            </span></p>
                                        </aside>
                                    </section>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-yellow"></span>
                                        <time datetime="2019-03">
                                            <span>2019/03/14</span>
                                        </time>
                                        <aside>
                                            <p class="things">莫非就要</p>
                                            <p class="brief"><span class="text-red">
                                                也许，不久的将来。
                                            </span></p>
                                        </aside>
                                    </section>
                                    <h3  data-am-scrollspy="{animation: 'scale-up'}">2018</h3>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-yellow"></span>
                                        <time datetime="2018-05">
                                            <span>2018/05/17</span>
                                        </time>
                                        <aside>
                                            <p class="things">开始征程</p>
                                            <p class="brief"><span class="text-red">今天下了个决定。</span></p>
                                        </aside>
                                    </section>
                                </article>

                            </div>
                        </div>

                    </div>
                    <div class="comment">
                        <div class="comment-top">
                            <div class="comment-top-input" th:if="${#httpServletRequest.remoteUser}">
                                <textarea id="comment" placeholder="客官，来说两句吧..."></textarea>
                            </div>
                            <div class="comment-top-input" th:unless="${#httpServletRequest.remoteUser}">
                                <div class="goToLogin">
                                    &nbsp;&nbsp;&nbsp;<a id="toLogin">登录</a>后才可以发表留言呦...
                                </div>
                            </div>
                            <div class="commentBtn">
                                <button id="commentBtn" type="button" class="am-btn am-btn-secondary">发表留言</button>
                            </div>
                        </div>
                        <!--页面留言-->
                        <div class="comment-bottom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--引入共有底部-->
    <div th:replace="common/footer :: footer"></div>

    <!--消息盒子+反馈-->
    <div th:replace="common/other :: other"></div>
</div>

<script src="js/all.js"></script>
<script src="js/leaveMessage.js"></script>
<!--放大图片插件-->
<script src="js/lightgallery/lightgallery.js"></script>
<script src="js/lightgallery/picturefill.min.js"></script>
<script src="js/lightgallery/lg-pager.js"></script>
<script src="js/lightgallery/lg-autoplay.js"></script>
<script src="js/lightgallery/lg-fullscreen.js"></script>
<script src="js/lightgallery/lg-zoom.js"></script>
<script>
    lightGallery(document.getElementById('wordsView'));
</script>
</body>
</html>